{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <h1 class="mt-5">Beers detail</h1>
        <a href="{% url 'company-edit-view' company.pk %}">{{object}}</a>
    </div>
{% endblock %}