{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1 class="mt-5">Company edit</h1>

        <form action="" method="post">
            {% csrf_token %}
            {{form.as_p}}

            <h4>Create beers</h4>

            {{beer_formset}}

            <input type="submit" value="Submit">

        </form>

    </div>
{% endblock %}