{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
    <div class="container">
        <h1 class="mt-5">{% trans "Companies list" %}</h1>
        <p class="lead">All companies in the database at {% now "jS F Y H:i" %}</p>
        <ul>
        {% for company in object_list %}
            <li>
                <a href="{% url 'company-detail-view' company.pk %}">{{company}}</a>
                <p>{{company.created_at | date:"D d M Y"}}</p>
            </li>
            {% empty %}
                La lista está vacía
        {% endfor %}
        </ul>
        <p>
            <a href="{% url 'company-create-view' %}">Add</a>
        </p>
    </div>

    <p>
        {% blocktrans %}I love {{ object_list }}.{% endblocktrans %}
    </p>

    <p>
        {% trans "I want to sit on" %} {% blocktrans context "sitting" %}bank{% endblocktrans %}
    </p>

    <p>
        {% trans "I'm going to get money from'" %} {% blocktrans context "money" %}bank{% endblocktrans %}
    </p>
{% endblock %}