{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        <h1 class="mt-5">Company edit</h1>

        <form action="" method="post">
            {% csrf_token %}
            {{form}}

            <input type="submit" value="Submit">
        </form>
        <hr>
        {% crispy form %}

    </div>
{% endblock %}